<configuration>

    <timestamp key="byTime" datePattern="yyyy-MM-dd'_'HH.mm.ss"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>homework_1\\logs\\test-${byTime}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/test.%d{yyyy-MM-dd_HH}.%i.log</fileNamePattern>
            <!-- each archived file, size max 5MB -->
            <maxFileSize>5MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20MB, it will delete old archived file -->
            <totalSizeCap>20MB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level [%thread] %logger{30}: %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE-DEBUG" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>
                %d{HH:mm:ss} [%t] %magenta(%-5level) %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE-INFO" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%t] %blue(%-5level) %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="com.calc" level="ALL" additivity ="false">
        <appender-ref ref="CONSOLE-DEBUG"/>
        <appender-ref ref="CONSOLE-INFO"/>
        <appender-ref ref="FILE" />
    </logger>

    <root level="DEBUG">
        <appender-ref ref="FILE"/>
    </root>

</configuration>